.records-container{
    max-width: 500px;
    padding: 30px;
}
mat-card-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.records-search-input{
    margin-left: auto;
}
