
.record-list-item-container {
    //height: 200px;
    height: auto;
    padding: 10px;
}

.chips-container {
    flex-direction: column;
}





.status-indicator {
    border-radius: 25px;
    margin: 10px;
    min-height: 10px;
    min-width: 10px;
}

.status-indicator__open{
    background-color: green;
}

.status-indicator__waiting{
    background-color: orange;
}

.status-indicator__closed {
    background-color: grey;
}

.access-indicator {
    min-width: 4px;
    min-height: 17px;
    border: solid black;
    margin-right: 20px
}

.access-indicator__full{
    background-color: black;
}
