//Standard Theme colors

$c-primary: #003C4D;
$c-primary-variant: #7A96AA;
$c-secondary: #F8F8F9;
$c-secondary-variant: #B5B5B5;
$c-background: #E4EAEE;
$c-background-variant: #D6D6D6;
$c-on-primary: #F8F8F9;
$c-on-secondary: #3D3C3B;

