<mat-card class="profile-container">

    <mat-card-header>
      <div class="avatar-container">
        <img class="img-avatar" src="../../../../static/images/avater.jpg" alt="Avater"> 
        <span class="caption">Sol Seong</span>
      </div>    
    </mat-card-header>
  
    <mat-card-content>
      <div class="profil-form-container">
        <mat-form-field>
          <input matInput placeholder="Email" value={{profile.email}}>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Tel. No." value={{profile.tel}}>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Street, No." value={{profile.street}}>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Postal Code" value={{profile.postal}}>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="City" value={{profile.city}}>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birth Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
        <button class="btn-save-changes" mat-flat-button>Save</button>
    </mat-card-actions>
</mat-card>
