<h1 mat-dialog-title>Choose client</h1>
<div mat-dialog-content>
    <mat-radio-group [(ngModel)]="selectedClient" class="radio-group">
        <mat-radio-button *ngFor="let client of (possibleClients | async)" class="select-client-dialog__radio-button"
                          [value]="client.id">{{ client.name }}</mat-radio-button>
        <mat-radio-button [value]="-1" class="select-client-dialog__radio-button">new client</mat-radio-button>
    </mat-radio-group>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()">Close</button>
    <button mat-button [mat-dialog-close]="selectedClient">Submit</button>
</div>
