@import "../../../../styles/basic.scss";

.drawer-header{
    padding: 16px;
    background-color: $c-primary;
    color: $c-on-primary;
}
.drawer-header img {
    width: 50px;
    border-radius: 50%;
    height: auto;
    padding-bottom: 5px;
}
.drawer-header span{
    display: block;
}
.drawer-header span a{
    color: $c-on-primary;
}
.drawer-navigation {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.drawer-navigation li {
    margin: 5px;
    height: 48px;
    line-height: 48px;
    border-radius: 5px
}
.drawer-navigation li a {
    cursor: pointer;
    color: $c-on-secondary;
    text-decoration: none;
}

mat-drawer-content {
    height: 100%;
}
mat-icon{
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.active{
    background-color: $c-primary-variant;
}
.not-active{
    background-color: none;
}