<mat-card>
    <mat-card-header>
        <h1>Reset password</h1>
    </mat-card-header>
    <mat-card-content>
        <p>Enter your new password here and repeat it.</p>
        <form [formGroup]="resetPasswordForm" class="reset-password__form">
            <mat-form-field>
                <input matInput placeholder="new password" formControlName="new_password" type="password">
                <mat-error *ngIf="resetPasswordForm.controls['new_password'].hasError('weak')">
                    password is too weak
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="repeat new password" formControlName="new_password_confirm" type="password"
                       [errorStateMatcher]="errorStateMatcher"/>
                <mat-error *ngIf="resetPasswordForm.hasError('mismatch')">
                    must be the same
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.controls['new_password_confirm'].hasError('required')">
                    required
                </mat-error>
            </mat-form-field>
            <p *ngIf="resetPasswordForm.errors && resetPasswordForm.hasError('mismatch')">
                must be the same
            </p>
        </form>
        <button mat-flat-button matSuffix (click)="onSendClick()" color="primary">reset password</button>
    </mat-card-content>
</mat-card>
